[Unit]
Description=zaproxy
After=network.target

[Service]
User=localadmin
Group=localadmin
ExecStart=/home/localadmin/src/scripts/zap/start-zap.sh
RemainAfterExit=No
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
